body{font-family: "Roboto", sans-serif;}
.header {}

.header__nav {}

.header__logo {}

.header__menu {}

.menu__item {}

.menu__link {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;}
.menu__link:hover {
    color: #404bbf;}

.header__contact {}

.contact__list {}

.contact__item {}

.contact__link {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
    .contact__link:hover{color: #404bbf;}

.main-content {}

.hero {}

.hero__title {font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;}

.hero__button {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;}
    .hero__button:hover{color: #fff;}

.services {}

.services__title {}

.hidden {}

.services__list {}

.services__item {}

.services__subtitle {}

.services__text {}

.team {}

.team__title {}

.team__list {}

.team__member {}

.team__photo {}

.team__name {}

.team__role {}

.portfolio {}

.portfolio__title {}

.portfolio__list {}

.portfolio__item {}

.portfolio__image {}

.portfolio__name {}

.portfolio__category {}

.footer {}

.footer__logo {}

.footer__text {}